table {
    width: 100%;
    margin-top:40px;
    border: 1px solid blue;
    border-collapse: collapse;

    td,th {
        border: 1px solid blue;
        padding: 10px;
        text-align: center;
    }


    th {
        background-color: lightblue;
    }

    .no_disponible {
        color: red;
        font-weight: bold;
        background-color: lightgray;
    }

}

    #titol {
        font-size: 24px;

        color: rgb(17, 0, 170);
        font-weight: bold;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        }


    hr {
        
        color: 40px;
        width: 100px;
        text-align: center;
        margin-bottom: 40px;
        border-collapse: collapse;
        border: 2px solid blue;
        border-radius: 2px;
    }

    