<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Asteroid Belt Run - Historia</title>
    <link rel="stylesheet" href="/static/intro.css">
</head>
<body>

    <div id="pantalla-intro" class="pantalla-historia">

        <div id="texto1" class="texto-subiendo">
            <p>Joel González, un astronauta de la flota intergaláctica de Núrbor, se ha quedado atrapado en un cinturón de asteroides. Ayúdalo a escapar.</p>
            <p>Para evitar los asteroides deberás de contestar preguntas de su planeta natal, la antigua Tierra.</p>
            <p>Pero, ves con cuidado, por cada error que cometas un propulsor de su nave explotará, y, si tres explotan, la nave quedará inservible.</p>
        </div>

        <div id="texto2" style="display: none; position: absolute; width: 70%; color: white; font-size: 22px; text-align: center; font-weight: bold; text-shadow: 2px 2px 5px black;">
            <p>Ahora Joel aterrizará en el asteroide CP-1738, es el primero del cinturón.</p>
            <p>Para avanzar, asegúrate de contestar bien las preguntas, o, dejarás a Joel sin sus motores en el espacio exterior.</p>
            <button class="btn-ir-juego" onclick="window.location.href='/juego'">Jugar 🚀</button>
        </div>

    </div>

    <script>
        const fondo = document.getElementById('pantalla-intro');
        if (localStorage.getItem('daltonismo') === 'activo') {
            fondo.classList.add('filtro-daltonismo');
        }

        const t1 = document.getElementById('texto1');
        const t2 = document.getElementById('texto2');

        setTimeout(function() {
            t1.style.display = 'none';

            setTimeout(function() {
                t2.style.display = 'block';
                // Forzamos reflow para que la animación arranque desde cero
                t2.style.animation = 'none';
                t2.offsetHeight;
                t2.style.top = '100%';
                t2.style.animation = 'moverArriba 12s linear forwards';
            }, 2000);

        }, 12000);
    </script>
</body>
</html>