<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Asteroid Belt Run - Menú</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div id="pantalla-principal" class="pantalla-inicio">

        <button class="btn btn-accesibilidad" id="abrir-menu">
            ♿ Accesibilidad
        </button>

        <a href="/intro">
            <button class="btn btn-empezar">
                🚀 Empezar Misión
            </button>
        </a>

        <div id="ventana-opciones">
            <div class="caja-menu">
                <h3>Opciones</h3>
                <hr>
                <div class="fila">
                    <label>🗣️ Sonido</label>
                    <input type="checkbox" id="opcion-sonido">
                </div>
                <div class="fila">
                    <label>👁️ Daltonismo</label>
                    <input type="checkbox" id="opcion-daltonismo">
                </div>
                <button id="cerrar-menu" class="btn-cerrar">Guardar</button>
            </div>
        </div>

    </div>

    <script>
        const botonAbrir = document.getElementById('abrir-menu');
        const botonCerrar = document.getElementById('cerrar-menu');
        const ventana = document.getElementById('ventana-opciones');
        const fondo = document.getElementById('pantalla-principal');
        const checkDaltonismo = document.getElementById('opcion-daltonismo');
        const checkSonido = document.getElementById('opcion-sonido');

        if (localStorage.getItem('daltonismo') === 'activo') {
            fondo.classList.add('filtro-daltonismo');
            checkDaltonismo.checked = true;
        }

        botonAbrir.onclick = function() {
            ventana.style.display = 'flex';
        }

        botonCerrar.onclick = function() {
            ventana.style.display = 'none';
        }

        checkDaltonismo.onchange = function() {
            if (checkDaltonismo.checked) {
                fondo.classList.add('filtro-daltonismo');
                localStorage.setItem('daltonismo', 'activo');
            } else {
                fondo.classList.remove('filtro-daltonismo');
                localStorage.setItem('daltonismo', 'inactivo');
            }
        }

        checkSonido.onchange = function() {
            fetch('/guardar_tts', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ tts_activo: checkSonido.checked })
            });
        }
    </script>
</body>
</html>