p  {color: blue;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    }

.titol_noticia {
    color: rgb(17, 0, 170);
    font-size: 24px;
    font-weight: bold;
}

#noticia_ultima_hora {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    background-color: yellow;


}

#noticies_generals {
    background-color: lightblue;
}

#noticies_ultima_hora {
    background-color: lightgreen;
    border-radius: 7px;
}